<!--<app-nav></app-nav>-->
<!--<div style="margin: 50px" *ngIf="isLogged">-->
<!--  <h1>LOGGED IN</h1>-->
<!--  <br>-->
<!--  <button (click)="this.oauthService.logOut()">Logout</button>-->
<!--</div>-->

<!--<div *ngIf="!isLogged">-->
<!--  <button (click)="this.oauthService.initCodeFlow()">Login</button>-->
<!--</div>-->

<!--<div class="secrets">-->
<!--  <h4 *ngIf="managementSecret">{{"Management API Response:" + managementSecret}}</h4>-->
<!--</div>-->

<!--<button (click)="getManagementSecret()">Call Management Api</button>-->

<!--<div *ngIf="isLogged">-->
<!--  <div style="text-align:center">-->
<!--    <h1>Welcome to {{ title }}!</h1>-->
<!--  </div>-->

<!--  <h2>User</h2>-->
<!--  <p>{{ userName }}</p>-->

<!--  <h2>Id-Token</h2>-->
<!--  <p>{{ idToken }}</p>-->

<!--  <h2>Access Token</h2>-->
<!--  <p>{{ accessToken }}</p>-->

<!--  <p>>-->
<!--  </p>-->
<!--</div>-->

<!--<router-outlet></router-outlet>-->
