.visibleOneTime-disclaimer {
  text-align: center;
  width: 395px;
  margin: 53px auto 0 auto;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: #F5F5F5;
  color: red;
  font-weight: 500;
  animation-name: fade-in;
  animation-duration: 0.5s;
  font-size: 14px;
}

.refresh-value-button {
  display: inline;
  position: absolute;
  top: 12%;
  left: 93%;
  z-index: 2;
  user-select: none;

  &:hover {
    span {
      color: #3baeff;
    }

    cursor: pointer;
  }
}

.page-toggle {
  position: absolute;
  left: 46%;

  ::ng-deep .mat-button-toggle-label-content {
    line-height: 33px !important;
    font-size: 14px !important;
  }
}
