<div *ngIf="isFormVisible" id="overlay"></div>
<div class="page-container">
  <div class="top-wrapper">
    <div class="flex w-full justify-between">
      <div class="inline">
        <button (click)="openForm(true)" mat-button><span class="material-icons">add</span>
          Add
        </button>
        <div *ngIf="selectedRows.length > 0" class="inline">
          <button (click)="openForm(false)" [disabled]="selectedRows.length > 1" mat-button>
            <span class="material-icons">create</span>
            Edit
          </button>
          <button (click)="delete(itemSelected.displayName)" mat-button>
            <span class="material-icons identity-control-red ">delete_forever</span>
            Delete
          </button>
          <button (click)="regenerateItems()" [disabled]="itemSelected?.type === 'VisibleOneTime' || !visibleOneTimeCompatible"
                  mat-button>
            <span class="material-icons">refresh</span>
            Regenerate
          </button>
        </div>
      </div>
      <div class="page-toggle">
        <mat-button-toggle-group (change)="toggleSecretType()" aria-label="Font Style" name="fontStyle" value="client-secret">
          <mat-button-toggle [checked]="this.httpService.endpoint === 'client-secret'" value="client-secret">Client
          </mat-button-toggle>
          <mat-button-toggle [checked]="this.httpService.endpoint === 'api-resource-secret'" value="api-resource-secret">API
            Resource
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="inline self-end my-auto right-controls">
        <button (click)="changeAllSelectionStates(false)" *ngIf="selectedRows.length > 0 && selectMultiple" mat-button><span
          class="material-icons">highlight_off</span>
          Deselect
          all
        </button>
        <button (click)="changeAllSelectionStates(true)" *ngIf="selectMultiple" mat-button><span
          class="material-icons">done_all</span>
          Select all
        </button>
        <mat-form-field [ngClass]="{'mat-select-no-label' : filterSelectHasValue}" appearance="fill" class="filters-select">
          <mat-select #filterOption (selectionChange)="onFilterSelect($event.value)" placeholder="Filters">
            <mat-option value="All">All {{pageTitle}}</mat-option>
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Expired">Expired</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox (change)="selectMultipleToggle()" [checked]="selectMultiple" class="mx-3">Multiple</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="table-wrapper">
    <table (matSortChange)="sortData($event)" [dataSource]="rows" [matSortDisableClear]="true" class="identity-table" mat-table
           matSort>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr (click)="selectRow(row)"
          *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{'selected' : row.selected, 'expired': !row.selected && row.expiresAt !== null && dateTime.fromISO(row.expiresAt) < dateTime.utc()}"
          class="table-row"
          mat-row></tr>
      <ng-container matColumnDef="selected">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let element" mat-cell>
          <mat-checkbox [checked]="element.selected" [disabled]="element['isReadOnly']" class="no-pointer-events"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="value">Value</th>
        <td *matCellDef="let element" mat-cell>{{element.value}}</td>
      </ng-container>
      <ng-container matColumnDef="clientName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="clientName">Client name</th>
        <td *matCellDef="let element" mat-cell>{{element.clientName}}</td>
      </ng-container>
      <ng-container matColumnDef="apiResourceName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="apiResourceName">API Resource name</th>
        <td *matCellDef="let element" mat-cell>{{element.apiResourceName}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="type">Type</th>
        <td *matCellDef="let element" mat-cell>{{element.type}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="description">Description</th>
        <td *matCellDef="let element" mat-cell>{{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="expiration">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="expiration">Expiration</th>
        <td *matCellDef="let element" mat-cell>{{element.expiration | date: 'short'}}</td>
      </ng-container>
      <ng-container matColumnDef="created">
        <th *matHeaderCellDef mat-header-cell mat-sort-header="created">Created</th>
        <td *matCellDef="let element" mat-cell>{{element.created | date: 'short'}}</td>
      </ng-container>
    </table>
  </div>
  <mat-paginator (page)="onTablePageChange($event)" [length]="totalItems"
                 [pageSizeOptions]="[10, 15, 25, 100]"
                 [pageSize]="queryParams.pageSize"
                 [showFirstLastButtons]=true
                 class="mat-paginator-sticky">
  </mat-paginator>
</div>


<div *ngIf="isFormVisible" class="form-pop-up">
  <div class="form-wrapper">
    <button (click)="closeEditPanel()" class="close-button" mat-button><span class="material-icons-sharp">close</span></button>
    <div class="form-title">
      <div *ngIf="addMode">{{'New ' + pageTitle.substring(0, pageTitle.length - 1)}}</div>
      <div *ngIf="!addMode">{{'Edit ' + pageTitle.substring(0, pageTitle.length - 1)}}</div>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="editForm" class="identity-control-edit-form" novalidate>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Value</mat-label>
          <input formControlName="value" matInput>
          <div (click)="onValueRefresh()" *ngIf="addMode" class="refresh-value-button"><span
            class="identity-control-blue material-icons">cached</span>
          </div>
          <mat-error *ngIf="editForm.controls['value']?.hasError('required')">
            Value is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput></textarea>
          <mat-error *ngIf="editForm.controls['description'].hasError('required')">
            Description is required
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="this.httpService.endpoint == 'client-secret'" appearance="fill">
          <mat-label>Client</mat-label>
          <mat-select [value]="expireSelectValue"
                      formControlName="ownerId">
            <mat-option *ngFor="let option of clientOptions" [value]="option.value">{{option.text}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="this.httpService.endpoint != 'client-secret'" appearance="fill">
          <mat-label>Client</mat-label>
          <mat-select [value]="expireSelectValue"
                      formControlName="ownerId">
            <mat-option *ngFor="let option of apiResourceOptions" [value]="option.value">{{option.text}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Expiration</mat-label>
          <mat-select #expireOption
                      (selectionChange)="onExpirationChange($event)" [value]="expireSelectValue">
            <mat-option value="30">30</mat-option>
            <mat-option value="60">60</mat-option>
            <mat-option value="90">90</mat-option>
            <mat-option value="Never">Never</mat-option>
            <mat-option value="Custom">Custom</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="editForm.controls['expiresAt'].value" appearance="fill">
          <input (dateChange)="onDateChange($event)" [matDatepicker]="expiresAt" [min]="createdAt.toString()"
                 formControlName="expiresAt"
                 matInput>
          <mat-datepicker-toggle *ngIf="customDate" [for]="expiresAt"
                                 matSuffix></mat-datepicker-toggle>
          <mat-datepicker #expiresAt></mat-datepicker>
          <mat-error *ngIf="editForm.controls['expiresAt'].errors">
            Invalid date
          </mat-error>
        </mat-form-field>
        <mat-radio-group (change)="onTypeChange($event.value)" *ngIf="addMode" formControlName="type">
          <mat-radio-button checked class="example-margin" value="SharedSecret">Shared secret</mat-radio-button>
          <mat-radio-button class="example-margin" value="VisibleOneTime">Visible one time</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="!editForm.valid" class="submit-button" color="primary"
                mat-raised-button type="submit">
          {{addMode ? 'Submit' : 'Save'}}
        </button>
      </mat-card-actions>
    </form>
    <div *ngIf="addMode && editForm.controls['type'].value === 'VisibleOneTime'"
         class="visibleOneTime-disclaimer w3-animate-opacity">Make sure you copy the above secret now. <br>We don't store it and
      you will not be able to see it again.
    </div>
  </div>
</div>
